
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
 
body {
    margin: 0;
    padding: 0;
    font-family: 'Monserrat' sans-serif ;
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 10px solid #9591df;
}

nav h1{
    color: #717171;
    font-family: 'Playfair Display', sans-serif;
    font-size: 30px;
}

nav onglets{
        margin-top: none;
        margin-left: 300px;
}

nav .onglets a{
    text-decoration: none;
    color: #000;
    margin-right: 10px;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;

}


header h1{
    font-family: 'Playfair Display', sans-serif;
    font-size: 50px;
}

header h4{
    margin-top: -20px;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #fff;
}

.main{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main .content .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.main .content .card .gauche{
    flex: 0 0 30%;
    padding: 20px;
    background-color: black;
    color: #fff;
}

.main .content .card.droite{
    flex: 0 0 70%;
}

.main .content .card .droite img{
    height: 200px;
    width: 300px;
    margin-top: 5px;

}


.main .card{
    margin: 10px;
}

.nain .content .card .droite img{
    height: 200px;
    width: 100%;
    margin-top: 0px;
}

.main .content .card{
    display: block;
}

.menu button{
    font-family: 'playfair Display' sans-serif;
    width: 20%;
    padding-bottom: 5px;
    position:static;
    bottom: 70px;
    right: 50px;
    
}



footer #contact{
    color: rgb(181,181,181);
}




   