@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');


*, *::after, *::before {
box-sizing: border-box;
}

body {
    margin: 2; 
    background-color: rgb(70, 29, 203);
    display: grid;
    grid-template-columns: repeat(2, 4rem);
    grid-template-rows: 7rem 3rem 7rem;
    gap: .5rem;
    padding-top: 1rem;

}

nav{
    display: center;
    flex-wrap: wrap;
    justify-content: right;
    align-items: right;
    border-bottom: 5px solid #9591df;
}

nav h1{
    color: #717171;
    font-family: 'Playfair Display', sans-serif;
    font-size: 30px;
}



.deck {

    height: 100%;
    width: 100%;
    border: 1px solid white;
    display: flex;
    justify-content:center;
    align-items:center;
    font-size: 3rem;
    border-radius: .5rem;
    color: white;
    user-select: none;
}

.player-deck {
    background-color: green;
}


.text {
    grid-column: span 2;
    display:flex;
    justify-content: left;
    align-items:center;
    color: white;
    font-family: 'Playfair Display', sans-serif;
    font-size: 30px;    
}

.card {
    position: relative;
    height: 100%;
    width: 100%;
    border: 1px solid rgb(232, 14, 221);
    background-color: aliceblue;
    border-radius: .5rem;
    display: flex;
    justify-content:center;
    align-items:center;
    font-size: 4rem; 

}

.card.red {
    color: red;
}

.card.black {
    color: black
}

.card::before,
.card::after {
    position: absolute;
    content: attr(data-value);
    font-size: 1rem;
}

.card::before {
    top: .5rem;
    left: .5rem;
}

.card::after {
    bottom: .5rem;
    right: .5rem;
    transform: rotate(180deg);
}



